body{
	background-color:#3498db;
}
.my_form{
	margin-top: 10rem;
	background-color: #fff;
	box-shadow: 1px 2px 15px -2px rgba(0,0,0,.8);
	padding:2rem;
	border-radius: .5rem;
}
.my_form .form-control{
	height: auto;
	padding:1rem;
}
.my_form .form-control:first-of-type{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.my_form .form-control:last-of-type{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.btn-login{
	border-radius: 0;
	background-color:#34495e;
	border:0;
}